@model Proyectos_profesionales.Models.Formulario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<!--Carrusel----------------------------------------------->

<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
            <div class="view" style="background-image: url('https://static.retema.es/media/images/noticias/oIk7BGCTDiStoBauy9EhvHMcRf0R9PF5yE.jpg');
                     background-repeat: no-repeat; background-size: cover; ">

                <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                    <!-- Content -->
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Administrar</strong>
                        </h1>

                        <p>
                            <strong>Autorizaciones</strong>
                        </p>

                        <p class="mb-4 d-none d-md-block">
                            <strong>
                                Seguimientos
                            </strong>
                        </p>

                        <a target="_blank" href="https://mdbootstrap.com/bootstrap-tutorial/" class="btn btn-outline-white btn-lg">
                            Mis registros   Mi perfil
                            <i class="fa fa-graduation-cap ml-2"></i>
                        </a>
                    </div>

                </div>

            </div>
        </div>

        <div class="carousel-item">
            <div class="view" style="background-image: url('https://www.ulima.edu.pe/sites/default/files/styles/600x300/public/news/img/agenda-tecnologiacemento-may2020.jpg?itok=kswsNTH3');
                    background-repeat: no-repeat; background-size: cover; ">


                <div class="mask rgba-black-light d-flex justify-content-center align-items-center">


                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Administrar</strong>
                        </h1>

                        <p>
                            <strong>Autorizaciones</strong>
                        </p>

                        <p class="mb-4 d-none d-md-block">
                            <strong>
                                Seguimientos
                            </strong>
                        </p>
                        <a target="_blank" href="https://mdbootstrap.com/bootstrap-tutorial/" class="btn btn-outline-white btn-lg">
                            Mis registros  Mi perfil
                            <i class="fa fa-graduation-cap ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="view" style="background-image: url('https://revistas.eleconomista.es/binrepository/768x512/0c40/768d432/none/129223038/FRLV/istock-1133989173_61-1776636_20201102152307.jpg');
                                                           background-repeat: no-repeat; background-size: cover; ">

                <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Administrar</strong>
                        </h1>

                        <p>
                            <strong>Autorizaciones</strong>
                        </p>

                        <p class="mb-4 d-none d-md-block">
                            <strong>
                                Seguimientos
                            </strong>
                        </p>
                        <a target="_blank" href="https://mdbootstrap.com/bootstrap-tutorial/" class="btn btn-outline-white btn-lg">
                            Mis registros   Mi perfil
                            <i class="fa fa-graduation-cap ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>


<!--Carrusel----------------------------------------------->




<div>
    <h4>Formulario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormularioEntrada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormularioEntrada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormularioSalida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormularioSalida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
